/* CSS Document */
/* The below CSS is for the contact form and the signature, to keep consistency throughout the pages */

footer {
    background: #01141F;
    width: 100%;
    padding: 5rem 2rem;
    color: white;
}

.footer--container {
    margin: 0 7%;
}

footer h2 {
    color: #DBF227;
    font-size: 3rem;
}

footer .socials {
    display: flex;
    align-items: center;
    margin: 0;
}

footer img {
    margin-left: 0.5rem;
    width: 1.5rem;
    border-radius: 2px;
}

footer img:hover {
    background-color: #9FC131;
}

